<!-- Please remove this file from your project -->
<template>
  <div class="relative flex items-top justify-center min-h-screen sm:items-center ">
    <b-container fluid>
      <br><br>
      <b-row>
        <b-col class="text-center">
          <b-img src="~/assets/login.png" />
        </b-col>
      </b-row>
      <br><br>
      <b-row>
        <b-col class="text-right">
          <p>USER : </p>
        </b-col>
        <b-col>
          <input v-model="user" style="outline: auto;" type="text" placeholder=" user" size="--">
        </b-col>
      </b-row>
      <br>
      <b-row>
        <b-col class="text-right">
          <p>PASSWORD : </p>
        </b-col>
        <b-col>
          <input v-model="password" style="outline: auto;" type="password" placeholder=" password" size="--">
        </b-col>
      </b-row>
      <br>
      <b-row>
        <b-col class="text-center">
          <b-button variant="success">
            LOGIN
          </b-button>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {
  data () {
    return {
      user: '',
      password: '',
      click: ''
    }
  }
}
</script>
